{% extends 'base.html' %}

{% block head %}
<!-- Mapbox-->
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" href="{{ url_for('static', filename='css/heatmap.css') }}"/>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="dashhead mt-2">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Dashboard</h6>
    <h3 class="dashhead-title"><span class='icon icon-globe'></span> Incidence Heatmap</h3>
  </div>

  <div class="dashhead-toolbar">
    <div class="input-with-icon dashhead-toolbar-item">
      <input type="text" value="01/01/15 - 01/08/15" class="form-control" data-provide="datepicker">
      <span class="icon icon-calendar"></span>
    </div>
    <span class="dashhead-toolbar-divider hidden-xs"></span>
    <div class="btn-group dashhead-toolbar-item btn-group-thirds">
      <button type="button" class="btn btn-outline-primary">Day</button>
      <button type="button" class="btn btn-outline-primary active">Week</button>
      <button type="button" class="btn btn-outline-primary">Month</button>
    </div>
  </div>
</div>

<div id="map"></div>
<div class="mt-3">
  <button type="button" class="btn btn-sm btn-pill btn-primary">Primary</button>
  <button type="button" class="btn btn-sm btn-pill btn-secondary">Secondary</button>
  <button type="button" class="btn btn-sm btn-pill btn-success">Success</button>
  <button type="button" class="btn btn-sm btn-pill btn-info">Info</button>
  <button type="button" class="btn btn-sm btn-pill btn-warning">Warning</button>
  <button type="button" class="btn btn-sm btn-pill btn-danger">Danger</button>
</div>

<div class="dashhead">
  <div class="dashhead-titles mt-4">
    <h3 class="dashhead-title"><span class='icon icon-globe'></span> Insights</h3>
  </div>
</div>

<div class="mt-2">
  {% for i in range(profile_data['num_locations']) %}
    <h4 class="display-7">{{ profile_data['locations'][i]['name'] }}</h4>
    <div>{{ article_data[i]['themes'] }}</div>
    {% for article in article_data[i]['articles'] %}
      <div>({{loop.index}}) {{ article['url'] }}</div>
    {% endfor %}
  {% endfor %}
</div>

<div class="modal" id="location-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content p-4" style="background-color: #252830">
      <div class="dashhead">
        <div class="dashhead-titles">
          <h6 class="dashhead-subtitle">Location Data</h6>
          <h3 class="dashhead-title"></h3>
        </div>
        <div class="dashhead-toolbar">
          <button type="button" style="color: white" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"  class="icon icon-circle-with-cross"></span>
          </button>
        </div>
      </div>
      <div class="modal-body modal-body-scoller">
        <div class="hr-divider mt-2">
          <h3 class="hr-divider-content hr-divider-heading">
            Key Themes
          </h3>
        </div>
        <div class="location-themes mt-2 d-flex flex-wrap justify-content-center"></div>
        <div class="hr-divider mt-4">
          <h3 class="hr-divider-content hr-divider-heading">
            Key Articles
          </h3>
        </div>
        <ul class="list-group mt-2 location-articles">
        </ul>
      </div>
      <div class="modal-footer" style="border-color:#444">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  var article_data = {{ article_data|tojson }};
  var profile_data = {{ profile_data|tojson }};
  console.log(article_data);
</script>
<script src="{{ url_for('static', filename='js/heatmap.js') }}"></script>
{% endblock %}
