{% extends 'base.html' %}

{% block head %}
<!-- Mapbox-->
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" href="{{ url_for('static', filename='css/heatmap.css') }}"/>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="dashhead mt-2">
    <div class="dashhead-titles">
      <h6 class="dashhead-subtitle">Dashboard</h6>
      <h3 class="dashhead-title"><span class='icon icon-globe'></span> Incidence Heatmap</h3>
    </div>
  
    <div class="dashhead-toolbar">
      <div class="input-with-icon dashhead-toolbar-item">
        <input type="text" value="01/01/15 - 01/08/15" class="form-control" data-provide="datepicker">
        <span class="icon icon-calendar"></span>
      </div>
      <span class="dashhead-toolbar-divider hidden-xs"></span>
      <div class="btn-group dashhead-toolbar-item btn-group-thirds">
        <button type="button" class="btn btn-outline-primary">Day</button>
        <button type="button" class="btn btn-outline-primary active">Week</button>
        <button type="button" class="btn btn-outline-primary">Month</button>
      </div>
    </div>
  </div>

  <div id="map"></div>

  <div class="row">
    <div class="col-3">
      <div class="dashboard-section">
        <h4 class="mt-4">Locations</h4>
        {% for location in profile_obj['locations'] %}
        <div class="location-select" id='{{ loop.index0 }}'>{{ location['name'] }}</div>
        {% endfor %}
      </div>
    </div>
    <div class="col-9">
      <div class="dashboard-section">
        <h4 class="mt-4">Themes</h4>
        <div class="d-flex">
          {% for theme in profile_obj['relevant_themes'] %}
          <div class="theme-select">
            <span class="text-bottom">{{ theme }}</span>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="dashboard-section">
      <h4 class="mt-4">Articles</h4>
      <div id="articles"></div>
    </div>
  </div>


</div>

<div class="modal" id="location-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content p-4" style="background-color: #252830">
      <div class="dashhead">
        <div class="dashhead-titles">
          <h6 class="dashhead-subtitle">Location Data</h6>
          <h3 class="dashhead-title"></h3>
        </div>
        <div class="dashhead-toolbar">
          <button type="button" style="color: white" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"  class="icon icon-circle-with-cross"></span>
          </button>
        </div>
      </div>
      <div class="modal-body modal-body-scoller">
        <div class="hr-divider mt-2">
          <h3 class="hr-divider-content hr-divider-heading">
            Key Themes
          </h3>
        </div>
        <div class="location-themes mt-2 d-flex flex-wrap justify-content-center"></div>
        <div class="hr-divider mt-4">
          <h3 class="hr-divider-content hr-divider-heading">
            Key Articles
          </h3>
        </div>
        <ul class="list-group mt-2 location-articles">
        </ul>
      </div>
      <div class="modal-footer" style="border-color:#444">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="flashpoint-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content p-4" style="background-color: #252830">
      <div class="dashhead">
        <div class="dashhead-titles">
          <h6 class="dashhead-subtitle">Flashpoint Data</h6>
          <h3 class="dashhead-title"></h3>
        </div>
        <div class="dashhead-toolbar">
          <button type="button" style="color: white" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"  class="icon icon-circle-with-cross"></span>
          </button>
        </div>
      </div>
      <div id="flashpoint-image"></div>
      <div class="modal-body modal-body-scoller flashpoint-body">
        <div id="flashpoint-articles"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  var profile_obj = {{ profile_obj|tojson }};
</script>
<script src="{{ url_for('static', filename='js/themes.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
<script src="{{ url_for('static', filename='js/heatmap.js') }}"></script>
{% endblock %}
