{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}"/>
<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}

{% block content %}

<div class="form-content w-50 text-light mt-4 mx-auto bg-black-shadow p-4">
  <h3 class="mt-3">Login</h4>
  <form class="mt-4" id="companyForm" action="/profile" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text font-white" id="email-prepend">Email</span>
        </div>
        <input required type="text" name="username" class="form-control" placeholder="Your Email" aria-label="Username" aria-describedby="email-prepend">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text font-white" id="password-prepend">Password</span>
        </div>
        <input required type="password" name="password" class="form-control" placeholder="Your Password" aria-label="Password" aria-describedby="password-prepend">
      </div>
    </div>
    <button type="submit" class="btn btn-primary mx-auto text-center">Submit</button>
  </form>
  <small class="form-text text-muted mt-4">Don't have an account? <a href="{{ url_for('register') }}">Register now.</a></small>
</div>
{% endblock %}
