{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}"/>
<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}

{% block header %}
<h1 class="mx-auto txt-center">
  {% block title %}Company Profile{% endblock %}
</h1>
{% endblock %}

{% block content %}
<h1 class="mt-3">Company Information</h3>
<form id="companyForm" action="/profile" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="company_name">Company Name</label>
    <input type="text" class="form-control" name="company_name" placeholder="Enter Company Name">
  </div>
  <div class="form-group">
    <label for="email">Company Email</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="Enter Your Email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <h3 class="mt-3">Themes</h3>
  <small class="form-text text-muted">Please select at least themes you wish to monitor.</small>
  <div class="mt-2 d-flex flex-wrap" id="theme-selector">
    <!-- Populated with JavaScript -->
  </div>
  <div class="form-group">
    <h3 class="mt-4">Locations</h3>
    <small id="locations" class="form-text text-muted">Enter up to 3 locations you wish to monitor.</small>

    <div id="location-inputs">
      {% for i in range(1,4) %}
      <div class="input-group mt-2">
        <div class="input-group-prepend">
          <span class="input-group-text text-light">Location Information</span>
        </div>
        <input type="text" class="form-control" name="location_name_{{i}}" id="location_name_{{i}}" placeholder="Name of City or Location">
        <input type="text" class="form-control" name="location_long_{{i}}" id="location_long_{{i}}" placeholder="Longitude">
        <input type="text" class="form-control" name="location_lat_{{i}}" id="location_lat_{{i}}" placeholder="Latitude">
      </div>
      {% endfor %}
    </div>

    <div class="text-center mt-2">
      <span class="icon icon-chevron-with-circle-down dropdown-button"></span>
    </div>

  </div>
  <input type="hidden" name="num_locations" value="3"/>
  <input type="hidden" name="relevant_themes" value="[]"/>
  <button type="submit" class="btn btn-primary mx-auto text-center">Submit</button>
</form>
{% endblock %}
