{% extends 'base.html' %}

{% block header %}
<h1 class="mx-auto txt-center">
  {% block title %}Data Management{% endblock %}
</h1>
{% endblock %}

{% block content %}
<h3 class="mt-4">Event Themes</h3>
<form action="/database" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="startDate">Themes</label>
    <input type="text" name="startDate" value="01/01/2019" class="form-control" data-provide="datepicker">
  </div>
  <button type="submit" class="btn btn-primary mx-auto text-center">Submit</button>
</form>

<h3 class="mt-4">Event Dates</h3>
<form action="/database" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="startDate">Start Date</label>
    <div class="input-with-icon ml-4">
      <input type="text" name="startDate" value="01/01/2019" class="form-control" data-provide="datepicker">
      <span class="icon icon-calendar"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="endDate">End Date</label>
    <div class="input-with-icon ml-4">
      <input type="text" name="endDate" value="05/30/2019" class="form-control" data-provide="datepicker">
      <span class="icon icon-calendar"></span>
    </div>
  </div>
  <button type="submit" class="btn btn-primary mx-auto text-center">Submit</button>
</form>
{% endblock %}
